.face-detection__container {
    text-align: center;
    margin-top: 2rem;

    div {
        color: #fff;
        font-size: 1.3rem;
        font-weight: 500;
    }

    .face-detection__amount {
        font-size: 2rem;
    }
}