.nav__container {
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
    color: rgba(0, 0, 0, 0.8);

    p {
        text-decoration: underline;
        font-weight: 600;
    }

    p:hover {
        color: rgba(0, 0, 0, 0.6);
        cursor: pointer;
    }
}